{% extends "base.html.twig" %}
{% block body %}
    <p id="auth">Войти</p>
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit"/>
    {{ form_end(form) }}
{% endblock %}